#experiences {
  min-height: 100vh;
  font-size: 1.4rem;
  position: relative;
  background: #0f0f0f;
  background: linear-gradient(215deg, #0f0f0f 0%, #1a1a1a 100%);
  margin-top: -10rem;
  z-index: 1;
}

#experiences a,
#experiences a:visited {
  color: #f300b4;
}

#experiences a:hover,
#experiences a:active {
  color: #fff;
}

/* Container */
#experiences .experiences-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 12rem 5rem 8rem;
}

/* Heading */
#experiences .heading .title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #e0e0e0;
}

#experiences .heading .separator {
  background: #f300b4;
  width: 150px;
  height: 2px;
  margin: 1rem auto;
}

#experiences .heading .subtitle {
  font-size: 1.4rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  color: #e0e0e0;
}

/* Experiences Wrapper */
#experiences .experiences-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Single Experience */
.experience {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.03);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 24px;
}

.experience-link {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.experience-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.experience-details {
  flex-grow: 1;
  color: #e0e0e0;
}

.experience-tile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #f300b4;
}

.icons i {
  color: #f300b4;
}

.experience-details small {
  font-style: italic;
}

.experience-details p {
  margin: 1rem 0;
  color: #e0e0e0;
}

/* Icons */
#experiences .experience-details .icons {
  margin: 0;
  color: #e0e0e0;
}

#experiences .experience-details .icons i {
  margin-right: .4rem;
  font-weight: normal;
  font-size: 1.4rem;
}

/* Buttons */
#experiences .experience-details .buttons {
  display: flex;
  justify-content: space-between;
}

#experiences .experience-details .buttons a {
  width: 49%;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid #f300b4;
  color: #e0e0e0;
  background: rgba(255, 255, 255, 0.03);
  font-size: 1.2rem;
  text-align: center;
}

#experiences .experience-details .buttons a:hover {
  background: #f300b4;
  color: #fff;
}

#experiences .experience-details .buttons i {
  font-size: .8rem;
  vertical-align: middle;
  margin-left: .5rem;
}

@media only screen and (max-width: 1149px) {
  #experiences .experience {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 949px) {
  #experiences .experience {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 649px) {
  #experiences {
    background: #0f0f0f;
  }
  #experiences .experiences-container {
    padding: 12rem 0 8rem;
  }
  #experiences .experience {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 425px) {
  #experiences {
    background: #0f0f0f;
  }
  #experiences .experiences-container {
    padding: 12rem 0 8rem;
  }
  #experiences .experience {
    padding: 2rem 0;
  }
  #experiences .experience .experience-image {
    width: 100%;
    height: 300px !important;
    transform: scale(1.2);
    filter: saturate(0);
    transition: all 300ms;
  }
}

/* Apply white color to all <small> tags globally */
small {
  color: white;
} 